
body{
    background-image: url("pic1.jpg");
    background-size: cover;

   
}

.container{
    
    font-weight: bold;
    
    
    
    
}
.main-d{
    margin: auto;
    background-color: rgb(193, 78, 42);
    height: 500px;
    width: 600px;
   padding-left: 6%;
   border: 5px solid rgb(22, 85, 80);
   border-radius: 10px;
   
}
button{
    width: 150px;

}


